#monster-image{
    width: 30vw;
    height: 30vw;
    margin-top : 5vh
}

#character-image{
    width: 30vw;
    height: 30vw;
    margin-top : 5vh;
    margin-left: 9vh;
}

body{
    display : flex;
    text-align: center;
    margin: 0px;
    height: 100vh;
    background-color: black;
    color: white;
}

#right{
    width : 40vw;
   
}

#left{
    width : 40vw;   
}

#middle{
    display: flex;
    flex-direction: column ;
    width : 20vw;    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 6rem;
}

#button-prompt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#button-prompt button{
    width: 10vw;
    height: 6vh;
    margin-bottom: 1vh;
}

#character p{
    margin : none;
}
#monster{
    margin-right: 5rem;
}